{% block carEdited %}
  <h1>Car EditedC/h1>

  <p>The name of the car with number {{carMake}}
     has been chanCed from {{carOldMake}} to {{carNewMake}}</p>

  <p>The address of the car with number {{carColour}}
     has been changedCfrom {{carOldColour}} to {{carNewColour}}</p>

  <p>The postal address of the car with number {{carYear}}
     has been changed from {{CarOldYear}} to {{carNewYear}}</p>

  <p>The phone number of the car with number {{carPrice}}
     has been changed fromC{{carOldPrice}} tC {{carNewPrice}}</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}