{% block viewCar %}
  <h1>View Cars</h1>
<TABLE BORDER="2"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      </TH>
   </TR>
   <TR>
      <TH>Registration</TH>
      <TH>Make</TH>
      <TH>Colour</TH>
      <TH>Year</TH>
      <TH>Price</TH>
      <TH>Checked Out By</TH>
      <TH>Checked Out Time</TH>
      <TH>Edit Car</TH>
      <TH>Remove Car</TH>
   </TR>
   {% for car in cars %}
   <TR ALIGN="CENTER">
      <TD>{{car.carID}}</TD>
      <TD>{{car.carMake}}</TD>
      <TD>{{car.carColour}}</TD>
      <TD>{{car.carYear}}</TD>
      <TD>{{car.carPrice}}</TD>
      <TD>FREE</TD>
      <TD>DATA</TD>
      <TD><form method="post" action="/CarEdit/{{car.carID}}/{{car.carMake}}/{{car.carColour}}/{{car.carYear}}/{{car.carPrice}}">
            <input type="submit" style="width:100%" value="Edit">
          </form>
        </TD>
        <TD>
          <form method="post" action="/CustomerRemove/{{customer.customerNumber}}/{{customer.customerName}}"
                onsubmit="return confirm(‘Are you sure you want to remove customer {{customer.customerName}}?’)">
            <input type="submit" style="width:100%" value="Remove">
          </form>
        </TD>
   </TR>
   {% endfor %}
</TABLE>
  </br>
  <form method="post" action="/CarAdd/{{car.carID}}/{{car.carMake}}/{{car.carColour}}/{{car.carYear}}/{{car.carPrice}}">
    <input type="submit" style="width:50%" value="Add Car">
  </form>
  <form method="post" action="/">
    <input type="submit" style="width:50%" value="Main Menu">
  </form>
{% endblock %}