{% block customerEdit %}
<h1>Edit Customer</h1>

<table border>
<tr>
  <form method="post" action="/customerEdited/{{customerNumber}}/{{customerName}}/{{customerAddress}}/{{customerPostal}}/{{cutomerPhone}}">
    <td>Name: <input type="text" name="customerName" value="{{customerName}}" autofocus="autofocus"></td>
    <td>Address: <input type="text" name="customerAddress" value="{{customerAddress}}" autofocus="autofocus"></td>
    <td>Postal Address: <input type="text" name="customerPostal" value="{{customerPostal}}" autofocus="autofocus"></td>
    <td>Phone: <input type="text" name="customerPhone" value="{{customerPhone}}" autofocus="autofocus"></td>
</tr>
    <p>
    <input type="submit" value="Ok">
  </form>
</table>

{% endblock %}