<h1>List Index</h1>
<p>
  {% if person is not null %}
    Index: {{index}}
    <p>
    <ul>
      <li>{{person.name}}</li>
      <li>{{person.address}}</li>
      <li>{{person.phone}}</li>
    </ul>

  {% else %}
    No person at index {{index}}.
  {% endif %}

<p>
<form method="post" action="/">
  <input type="submit" value="Main Menu">
</form>